﻿@using Microsoft.Extensions.Configuration
@inject IConfiguration recaptcha
	<!-- Models -->
<div class="modal fade" id="formAPK" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary border-radius-0 no-borders">
                <h4 class="modal-title text-color-light" id="formModalLabel">
                    APK Afspraak
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div id="apkappointmentsuccessmsg">
                <div class="modal-body">
                    <p><em>Bedankt voor het versturen van ons formulier, wij nemen indien nodig zo snel mogelijk contact met je op.</em></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Terug</button>
                </div>
            </div>
            <form id="apkappointmentform" class="mb-4" autocomplete="on">
                <div class="modal-body">
                    <p>Graag vragen wij het onderstaande formulier in te vullen zodat wij zo snel als mogelijk een afspraak kunnen inplannen om een APK uit te voeren.</p>
                    
                    <p>Als je een email wilt sturen kun je dit doen aan <strong>info@autokooy.nl</strong> of je kunt bellen met <strong>030 66 212 31</strong>.</p>

                    <div class="form-group align-items-center">
                        <input type="text" name="onderwerp" class="form-control" placeholder="APK Keuring inplannen" required />
                    </div>

                    <div class="form-group align-items-center">
                        <select id="subject" name="subject" class="form-control">
                            <option value="Selecteerd een voorkeursdag">Selecteerd een voorkeursdag</option>
                            <option value="Maandag">Maandag</option>
                            <option value="Dinsdag">Dinsdag</option>
                            <option value="Woensdag">Woensdag</option>
                            <option value="Donderdag">Donderdag</option>
                            <option value="Vrijdag">Vrijdag</option>
                            <option value="Anders">Anders</option>
                        </select>
                    </div>

                    <div class="form-group align-items-center">
                        <input type="text" name="name" class="form-control" placeholder="Naam" required />
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6 align-items-center">
                            <input type="email" name="email" class="form-control" placeholder="E-mailadres" required />
                        </div>
                        <div class="form-group col-md-6 align-items-center">
                            <input type="tel" name="tel" class="form-control" placeholder="Telefoon" />
                        </div>
                    </div>
                    <div class="form-group align-items-center">
                        <input type="text" name="kenteken" class="form-control" placeholder="Kenteken" />
                    </div>
                    <div class="form-group">
                        <textarea rows="5" name="bericht" class="form-control" placeholder="Typ hier je bericht..." required></textarea>
                    </div>
                    <div class="form-input clearfix captcha-div-lft" style="display:inline-block;padding-bottom:0px;padding-left: 0px;">

                        @{
                            var publickey = recaptcha.GetSection("Recaptcha").Get<Recaptcha>().recaptchaPublickey;
                        }
                        <div id="apkappointment_captcha_container" class="g-recaptcha" data-type="image" data-size="normal" data-theme="light" data-sitekey="@publickey"></div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Terug</button>
                    <input id="apkappointment_sendmessage" type="submit" class="btn btn-primary" value="Versturen">
                </div>
            </form>
        </div>
    </div>
</div>
