﻿@using Microsoft.Extensions.Configuration
@inject IConfiguration recaptcha
	<!-- Models -->
<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary border-radius-0 no-borders">
                <h4 class="modal-title text-color-light" id="formModalLabel">Contact formulier</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div id="contactsuccessmsg">
                <div class="modal-body">
                    <p><em>Wij willen u alvast bedanken voor uw interesse in Autobedrijf Kooy</em></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Terug</button>
                </div>
            </div>
            <form id="contactform" class="mb-4" autocomplete="on">
                <div class="modal-body">
                    <p>
                        Als u een vraag of suggestie heeft kunt u via onderstaand formulier contact met ons opnemen.<br />
                        We streven ernaar om binnen 24 uur te reageren
                    </p>
                    <p>Als u een email wilt sturen kunt u dit doen aan info@autokooy.nl.</p>

                    <div class="form-group align-items-center">
                        <select id="onderwerp" name="subject" class="form-control">
                            <option value="Ik heb een vraag voor Autobedrijf Kooy">Ik heb een vraag voor Autobedrijf Kooy</option>
                            <option value="Ik wil graag een afspraak maken voor onderhoud">Ik wil graag een afspraak maken voor onderhoud</option>
                            <option value="Ik wil graag mijn auto APK laten keuren">Ik wil graag mijn auto APK laten keuren</option>
                            <option value="Ik wil een auto kopen">Ik wil een auto kopen</option>
                            <option value="Ik wil een leaseauto bespreken">Ik wil een leaseauto bespreken</option>
                            <option value="Ik wil mijn auto inruilen">Ik wil mijn auto inruilen</option>
                            <option value="Anders">Anders</option>
                        </select>
                    </div>
                    <div class="form-group align-items-center">
                        <input type="text" name="name" class="form-control" placeholder="Naam" required />
                    </div>
                    <div class="form-group align-items-center">
                        <input type="email" name="email" class="form-control" placeholder="E-mailadres" required />
                    </div>
                    <div class="form-group align-items-center">
                        <input type="tel" name="tel" class="form-control" placeholder="Telefoon" />
                    </div>
                    <div class="form-group">
                        <textarea rows="5" name="bericht" class="form-control" placeholder="Typ hier je bericht..." required></textarea>
                    </div>
                    <div class="form-input clearfix captcha-div-lft" style="display:inline-block;padding-bottom:0px;padding-left: 0px;">

                        @{
                            var publickey = recaptcha.GetSection("Recaptcha").Get<Recaptcha>().recaptchaPublickey;
                        }
                        <div id="contact_captcha_container" class="g-recaptcha" data-type="image" data-size="normal" data-theme="light" data-sitekey="@publickey"></div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Terug</button>
                    <input id="contact_sendmessage" type="submit" class="btn btn-primary" value="Versturen">
                </div>
            </form>
        </div>
    </div>
</div>
