﻿@using FusionCore.Services.Common
@using AutoMapper
@using FusionCore.Data.Settings
@using FusionCore.Models.Backend.Settings
@inject ISettingService _settingService
@inject IMapper  _mapper
@{
    WebsiteSettings dbSetting = _settingService.LoadSetting<WebsiteSettings>();
    WebsiteSettingsModel websitesettingsmodel = _mapper.Map<WebsiteSettingsModel>(dbSetting);
}
<footer id="footer" class="mt-0">
    <div class="container my-4">
        <div class="row py-5">
            <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
                <h5 class="text-5 text-transform-none font-weight-semibold text-color-light mb-4">Adresgegevens</h5>
                <p class="text-4 mb-0">Autobedrijf Kooij</p>
                <p class="text-4 mb-0">Rijksstraatweg 32 F</p>
                <p class="text-4 mb-0">3545 NA / de Meern (Utrecht)</p>
            </div>
            <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
                <h5 class="text-5 text-transform-none font-weight-semibold text-color-light mb-4">Openingstijden</h5>
                <p class="text-4 mb-0">Ma t/m Vrij: <span class="text-color-light">8.00 tot 17.00</span></p>
                <p class="text-4 mb-0">Zaterdag: <span class="text-color-light">9.00 tot 16.00</span></p>
                <p class="text-4 mb-0">Zondag: <span class="text-color-light">Gesloten</span></p>
            </div>
            <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
                <h5 class="text-5 text-transform-none font-weight-semibold text-color-light mb-4">Contact openemen</h5>
                <p class="text-7 text-color-light font-weight-bold mb-2">030 66 212 31</p>
                <!--<p class="text-4 mb-0">Verkoop: <span class="text-color-light">030 666 56 86</span></p>-->
            </div>
            <div class="col-md-6 col-lg-3">
                <h5 class="text-5 text-transform-none font-weight-semibold text-color-light mb-4">Social Media</h5>
                <ul class="footer-social-icons social-icons m-0">
                    <li class="social-icons-instagram"><a href="@websitesettingsmodel.InstagramCode" target="_blank" title="In stagram"><i class="fab fa-instagram"></i></a></li>
                    <li class="social-icons-facebook"><a href="@websitesettingsmodel.FacebookCode" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="social-icons-twitter"><a href="@websitesettingsmodel.TwitterCode" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                    <li class="social-icons-youtube"><a href="@websitesettingsmodel.YoutubeCode" target="_blank" title="Youtube"><i class="fab fa-youtube"></i></a></li>
                </ul>
                <div class="my-4">
                    @*<iframe frameborder="0" width="300" height="79" src="https://mobiliteit.klantenvertellen.nl/widget/v1/autobedrijf-gebrs-kooij"></iframe>*@
                    <iframe frameborder="0" allowtransparency="true" src="https://www.klantenvertellen.nl/retrieve-widget.html?color=white&button=true&lang=nl&tenantId=99&locationId=1051998" width="300" height="79"></iframe>
                </div>
                <div class="my-4">
                    <img class="img-fluid rounded-0 mb-6" src="~/assets/img/bovag-nap-logo.png" width="150" alt="" />
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="footer-copyright footer-copyright-style-2 pb-4">
            <div class="py-2">
                <div class="row py-4">
                    <div class="col d-flex align-items-center justify-content-center mb-4 mb-lg-0">
                        <p>© Copyright @DateTime.Now.Year. Autobedrijf Kooy, Nederland.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>