﻿@using UriHelper = Microsoft.AspNetCore.Http.Extensions.UriHelper
@using UrlHelper = FusionCore.Core.Helpers.UrlHelper
@{
    var currentUrl = UriHelper.GetEncodedPathAndQuery(Context.Request);

}
@using FusionCore.Services.Common
@using AutoMapper
@using FusionCore.Data.Settings
@using FusionCore.Models.Backend.Settings
@inject ISettingService _settingService
@inject IMapper  _mapper
@{
    WebsiteSettings dbSetting = _settingService.LoadSetting<WebsiteSettings>();
    WebsiteSettingsModel websitesettingsmodel = _mapper.Map<WebsiteSettingsModel>(dbSetting);
}
<header id="header" data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyStartAt': 148, 'stickySetTop': '-148px', 'stickyChangeLogo': true}">
    <div class="header-body border-color-primary border-top-0 box-shadow-none" id="mainmenu">

        <div class="header-top header-top-default border-bottom-0 border-top-0">
            <div class="container">
                <div class="header-row py-2">
                    <div class="header-column justify-content-start">
                        <div class="header-row">
                            <nav class="header-nav-top">
                                <ul class="nav nav-pills text-uppercase text-2">
                                    <li class="nav-item nav-item-anim-icon">
                                        <a class="nav-link pl-0" href="/autobedrijf"><i class="fas fa-angle-right"></i> Over autobedrijf kooy</a>
                                    </li>
                                    @*<li class="nav-item nav-item-anim-icon">
                                            <a class="nav-link" href="#largeModal" data-toggle="modal" data-target="#formModal"><i class="fas fa-angle-right"></i> Contact</a>

                                        </li>*@
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="header-column justify-content-end">
                        <div class="header-row">
                            <ul class="header-social-icons social-icons d-none d-sm-block social-icons-clean">
                                <li class="social-icons-instagram"><a href="@websitesettingsmodel.InstagramCode" target="_blank" title="In stagram"><i class="fab fa-instagram"></i></a></li>
                                <li class="social-icons-facebook"><a href="@websitesettingsmodel.FacebookCode" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                                <li class="social-icons-twitter"><a href="@websitesettingsmodel.TwitterCode" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                                <li class="social-icons-youtube"><a href="@websitesettingsmodel.YoutubeCode" target="_blank" title="Youtube"><i class="fab fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-container container z-index-2">
            <div class="header-row py-2">
                <div class="header-column">
                    <div class="header-row">
                        <div class="header-logo header-logo-sticky-change">
                            <a href="/">
                                <img class="header-logo-sticky opacity-0" alt="Autobedrijf kooy" width="" height="48" data-sticky-width="89" data-sticky-height="43" data-sticky-top="85" src="~/assets/img/autobedrijf-kooy-logo-white.png">
                                <img class="header-logo-non-sticky opacity-0" alt="Autobedrijf kooy" width="" height="48" src="~/assets/img/autobedrijf-kooy-logo.png">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="header-column justify-content-end">
                    <div class="header-row">
                        <ul class="header-extra-info d-flex align-items-center">
                            <li class="d-none d-sm-inline-flex">
                                <div class="header-extra-info-text">
                                    <label>Stuur ons een email</label>
                                    <strong><a href="mailto:info@autokooy.nl">info@autokooy.nl</a></strong>
                                </div>
                            </li>
                            <li>
                                <div class="header-extra-info-text">
                                    <label>Neem contact op</label>
                                    <strong><a href="tel:0306621231">0306621231</a></strong>
                                </div>
                            </li>
                            <li class="d-none d-sm-inline-flex">
                                @*<iframe src="https://mobiliteit.klantenvertellen.nl/widget/v1/autobedrijf-gebrs-kooij" scrolling="no" width="54" height="75" frameborder="0"></iframe>*@
                                <iframe frameborder="0" allowtransparency="true" src="https://www.klantenvertellen.nl/retrieve-widget.html?color=white&button=true&lang=nl&tenantId=99&locationId=1051998" width="300" height="79"></iframe>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-nav-bar bg-quaternary" data-sticky-header-style="{'minResolution': 991}" data-sticky-header-style-active="{'background-color': 'transparent'}" data-sticky-header-style-deactive="{'background-color': '#0088cc'}"
             >
            <div class="container">
                <div class="header-row">
                    <div class="header-column">
                        <div class="header-row justify-content-end">
                            <div class="header-nav header-nav-force-light-text justify-content-start py-2 py-lg-3" data-sticky-header-style="{'minResolution': 991}" data-sticky-header-style-active="{'margin-left': '135px'}" data-sticky-header-style-deactive="{'margin-left': '0'}">
                                <div class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1">
                                    <nav class="collapse">
                                        <ul class="nav nav-pills" id="mainNav">
                                            <li class="dropdown-full-color dropdown-light">
                                                @{
                                                    var homeactive = UrlHelper.IsActive(currentUrl, "/") == "current" ? "active" : "";
                                                }
                                                <a class="dropdown-item dropdown-toggle @homeactive" href="/">Home</a>
                                            </li>
                                            <li class="dropdown dropdown-full-color dropdown-light">
                                                @{
                                                    var occasionactive = UrlHelper.IsActive(currentUrl, "/occasions") == "current" ? "active" : "";
                                                }
                                                <a class="dropdown-item dropdown-toggle @occasionactive" href="/occasions">Occasions</a>
                                                <ul class="dropdown-menu">
                                                    <li class="dropdown-submenu">
                                                    <li><a class="dropdown-item" href="/occasions">Alle occasions</a></li>
                                                    <li><a class="dropdown-item" href="/occasions/laatste">Nieuwste occasions</a></li>
                                                    <li><a class="dropdown-item" href="/occasions/tot-2000">Occasions tot € 2000,-</a></li>

                                                </ul>
                                            </li>
                                            <li class="dropdown dropdown-full-color dropdown-light">
                                                @{

                                                    var paginaactive = UrlHelper.IsActive(currentUrl, "/Pagina/Index/") == "current" ? "active" : "";
                                                }
                                                <a class="dropdown-item dropdown-toggle @paginaactive" href="#">Onderhoud</a>
                                                <ul class="dropdown-menu">
                                                    <li class="dropdown-submenu">
                                                    <li><a class="dropdown-item" href="/airco-service">Airco Service</a></li>
                                                    <li><a class="dropdown-item" href="/apk"> APK</a></li>
                                                    <li><a class="dropdown-item" href="/banden-en-uitlijnen">Banden en uitlijnen</a></li>
                                                    <li><a class="dropdown-item" href="/distributieriem"> Distributieriem</a></li>
                                                    <li><a class="dropdown-item" href="/onderhoud-en-reparatie"> Onderhoud en reparatie</a></li>
                                                    <li><a class="dropdown-item" href="/quick-service"> Quick service</a></li>
                                                    <li><a class="dropdown-item" href="/trekhaak-montage"> Trekhaak montage</a></li>
                                                    <li><a class="dropdown-item" href="/uitdeuken-zonder-spuiten"> Uitdeuken zonder spuiten</a></li>
                                                </ul>
                                            </li>

                                            <li class="dropdown-full-color dropdown-light">
                                                @{
                                                    var exchangeformactive = UrlHelper.IsActive(currentUrl, "/exchangeform") == "current" ? "active" : "";
                                                }
                                                <a class="dropdown-item dropdown-toggle @exchangeformactive" href="/exchangeform">Inruilformulier<i class="fas fa-chevron-down"></i></a>
                                            </li>
                                            <li class="dropdown-full-color dropdown-light">
                                                <a class="dropdown-item dropdown-toggle" href="#largeModal" data-toggle="modal" data-target="#formModal">Contact<i class="fas fa-chevron-down"></i></a>
                                            </li>
                                            <li style="padding: 7px;" class="menu_hide" id="email_menu">
                                                <label>email: </label><strong><a href="mailto:info@autokooy.nl">info@autokooy.nl</a></strong>
                                            </li>
                                            <li style="padding: 7px;" class="menu_hide" id="telnumber_menu">
                                                <label>contact: </label><strong><a href="tel:0306621231">0306621231</a></strong>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <button class="btn header-btn-collapse-nav my-2" data-toggle="collapse" data-target=".header-nav-main nav">
                                    <i class="fas fa-bars"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>