﻿<!DOCTYPE html>
<html>
<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Autobedrijf Kooy</title>

    <meta name="description" content="Autobedrijf Kooy" />
    <meta name="keywords" content="Autobedrijf Kooy" />
    <meta name="author" content="Autobedrijf Kooy" />

    <!-- Facebook Cards -->
    <meta property="og:site_name" content="Sectie5" />
    <meta property="og:title" content="@ViewBag.ShareTitle" id="fbmetatitle" />
    <meta property="og:url" content="@ViewBag.ShareURL" id="fbmetaurl" />
    <meta property="og:type" content="Autobedrijf Kooy" />
    <meta property="og:description" content="@ViewBag.ShareDescription" id="fbmetadesc" />
    <meta property="og:image" content="@ViewBag.ShareImage" id="fbmetaimage" />
    <!-- Twitter Cards -->
    <meta name="twitter:title" content="@ViewBag.ShareTitle" id="twittermetatitle" />
    <meta name="twitter:url" content="@ViewBag.ShareURL" id="twittermetaurl" />
    <meta name="twitter:description" content="@ViewBag.ShareDescription" id="twittermetadesc" />
    <meta name="twitter:image" content="@ViewBag.ShareImage" id="twittermetaimage" />
    <meta name="twitter:card" content="summary_large_image" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/assets/img/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="~/assets/img/apple-touch-icon.png">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light%7CPlayfair+Display:400" rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/all.min.css">
    <link rel="stylesheet" href="~/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/assets/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/assets/css/magnific-popup.min.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/assets/css/theme.css">
    <link rel="stylesheet" href="~/assets/css/theme-elements.css">
    <link rel="stylesheet" href="~/assets/css/theme-blog.css">
    <link rel="stylesheet" href="~/assets/css/theme-shop.css">

    <!-- Current Page CSS -->
    <link rel="stylesheet" href="~/assets/css/settings.css">
    <link rel="stylesheet" href="~/assets/css/layers.css">
    <link rel="stylesheet" href="~/assets/css/navigation.css">

    <!-- Demo CSS -->
    <!-- Skin CSS -->
    <link rel="stylesheet" href="~/assets/css/skin-corporate-3.css">

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="~/assets/css/custom.css">

    <!-- Head Libs -->
    <script src="~/assets/js/modernizr.min.js"></script>

</head>
<body>

    @{
        await Html.RenderPartialAsync("_ContactForm");
        await Html.RenderPartialAsync("_apkappointment");
        await Html.RenderPartialAsync("_TestDrive");
    }
    <div class="body">

        @{
            await Html.RenderPartialAsync("_Header");
        }

        @*<partial name="_CookieConsentPartial" />*@
        <div role="main" class="main">
            @RenderBody()
        </div>

        @{
            RenderSection("MoreOccasions", required: false);
            await Html.RenderPartialAsync("_Footer");
            await Html.RenderPartialAsync("_PackagePopups");
        }

    </div>
    <!-- Vendor -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/jquery.appear.min.js"></script>
    <script src="~/assets/js/jquery.easing.min.js"></script>
    <script src="~/assets/js/jquery.cookie.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/common.min.js"></script>
    <script src="~/assets/js/jquery.validate.min.js"></script>
    <script src="~/assets/js/jquery.easypiechart.min.js"></script>
    <script src="~/assets/js/jquery.gmap.min.js"></script>
    <script src="~/assets/js/jquery.lazyload.min.js"></script>
    <script src="~/assets/js/jquery.isotope.min.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/assets/js/jquery.vide.min.js"></script>
    <script src="~/assets/js/vivus.min.js"></script>
    <script src="~/assets/js/jquery.bootpag.min.js"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="~/assets/js/theme.js"></script>
    <script src="~/assets/js/examples.gallery.js"></script>

    <!-- Current Page Vendor and Views -->
    <script src="~/assets/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/assets/js/jquery.themepunch.revolution.min.js"></script>

    <!-- Current Page Vendor and Views -->
    <script src="~/assets/js/view.contact.js"></script>

    <!-- Theme Custom -->
    <script src="~/assets/js/custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="~/assets/js/theme.init.js"></script>

    <script src="~/assets/js/examples.portfolio.js"></script>

    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touch/1.1.0/jquery.touch.min.js"></script>*@

    <script src="~/assets/js/jquery.touch.js"></script>

    <!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information.
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-12345678-1', 'auto');
        ga('send', 'pageview');
    </script>
     -->
    <!--Google Recaptcha-->
    <script src='https://www.google.com/recaptcha/api.js?render=explicit' async defer asp-append-version="true"></script>



    @RenderSection("Scripts", required: false)

    <!-- CONTACT -->
    <script>

        var loadCaptcha_Contact = function () {
            return grecaptcha.render(document.getElementById("contact_captcha_container"), {
                'sitekey': document.getElementById("contact_captcha_container").getAttribute("data-sitekey"),
                'callback': function (response) {
                    //console.log(response);
                }
            });
        };

        var captchaWidgetId_1;

        $('#formModal').on('show.bs.modal', function (e) {

            if ($('#contact_captcha_container').is(':empty')) {
                captchaWidgetId_1 = loadCaptcha_Contact();
            } else { grecaptcha.reset(captchaWidgetId_1); }

            $('#contactform').show();
            $('#contactsuccessmsg').hide();

        });

        $("#contactform").on("submit", function (e) {
            e.preventDefault();
            var response = grecaptcha.getResponse(captchaWidgetId_1);
            var postData = $('#contactform').serialize();
            postData['g-recaptcha-response'] = response;
            $.post('/Common/Contact', postData, function (data) {
                if (data) {
                    document.getElementById('contactform').reset();
                    $('#contactform').hide();
                    $("#contactsuccessmsg").show();
                } else {

                    $('#contactform').show();
                    $('#contactsuccessmsg').hide();
                }
                grecaptcha.reset(captchaWidgetId_1);
            });
        });


        var loadCaptcha_Apk = function () {
            return grecaptcha.render(document.getElementById("apkappointment_captcha_container"), {
                'sitekey': document.getElementById("apkappointment_captcha_container").getAttribute("data-sitekey"),
                'callback': function (response) {
                    //console.log(response);
                }
            });
        };

        var captchaWidgetId_2;
        $('#formAPK').on('show.bs.modal', function (e) {

            if ($('#apkappointment_captcha_container').is(':empty')) {
                captchaWidgetId_2 = loadCaptcha_Apk();
            } else { grecaptcha.reset(captchaWidgetId_2); }


            $('#apkappointmentform').show();
            $('#apkappointmentsuccessmsg').hide();

        });

        $("#apkappointmentform").on("submit", function (e) {
            e.preventDefault();
            var response = grecaptcha.getResponse(captchaWidgetId_2);
            var postData = $('#apkappointmentform').serialize();
            postData['g-recaptcha-response'] = response;
            $.ajax({
                type: 'POST',
                url: "/Home/Appointment",
                data: postData,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("RequestVerificationToken",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                success: function (data, status, xhr) {
                    if (data) {
                        document.getElementById('apkappointmentform').reset();
                        $('#apkappointmentform').hide();
                        $("#apkappointmentsuccessmsg").show();
                    } else {

                        $('#apkappointmentform').show();
                        $('#apkappointmentsuccessmsg').hide();
                    }
                    grecaptcha.reset(captchaWidgetId_2);
                },
                error: function (xhr, status, err) {
                    console.log("xhr");
                    console.log(xhr);
                    console.log("status");
                    console.log(status);
                    console.log("err");
                    console.log(err);
                }
            });

        });

        $('#testDrive').on('show.bs.modal', function (e) {
            var cartitle = $(e.relatedTarget).data('cartitle');
            $("#testdrivecarname").text(cartitle);
            $("#hiddentestdrivecarname").val(cartitle);
            $("#testdrivesuccessmsg").hide();
            $('#testdriveform').show();
        });

        $("#testdriveform").on("submit", function (e) {

            e.preventDefault();
            var postData = $('#testdriveform').serialize();
            $.post('/Common/TestDrive', postData, function (data) {
                if (data) {
                    document.getElementById('testdriveform').reset();
                    $('#testdriveform').hide();
                    $("#testdrivesuccessmsg").show();
                } else {

                    $('#testdriveform').show();
                    $('#testdrivesuccessmsg').hide();
                }

            });
        });

        $("#email_menu").hide();
        $("#telnumber_menu").hide();
      
            $(window).scroll(function (e) {
                
                var pos = parseInt($('#mainmenu').css('top'), 10);
                
                if (pos < 0) {
                    $("#email_menu").show();
                    $("#telnumber_menu").show();
                } else {
                    $("#email_menu").hide();
                    $("#telnumber_menu").hide();
                }
            });

            
    </script>



</body>
</html>
