﻿@model List<XMLViewModel>

<section class="section section-height-3 bg-color-grey m-0 border-0">
    <div class="container py-4">
        <h4 class="mb-3 text-4 text-uppercase">Meer <strong class="font-weight-extra-bold">Occasions</strong></h4>
        <div class="row">
            @{ if (Model != null)
                {
                    foreach (var occ in Model)
                    {
                        var image = occ?.Voertuig?.Afbeeldingen?.Afbeelding.OrderBy(x => x.Nr_nr).FirstOrDefault()?.Bestandsnaam;
                        var title = occ?.Voertuig?.Titel;
                        var constructionyear = occ?.Voertuig?.Bouwjaar;
                        var title_url = occ?.Voertuig?.Titel_url;
                        var filename = occ?.FileName;
                        var vehicleno = occ?.Voertuig?.Voertuignr;
                        <div class="col-12 col-sm-6 col-lg-3 mb-4">
                            <div class="portfolio-item">
                                <a href="/occasions/@title_url/@filename/@vehicleno">
                                    <span class="thumb-info thumb-info-lighten thumb-info-no-borders border-radius-0">
                                        <span class="thumb-info-wrapper border-radius-0">
                                            <img src="@image" class="img-fluid border-radius-0" alt="@title">
                                            <span class="thumb-info-title">
                                                <span class="thumb-info-inner text-short w-50">@title</span>
                                                <span class="thumb-info-type">@constructionyear</span>
                                            </span>
                                            <span class="thumb-info-action">
                                                <span class="thumb-info-action-icon bg-dark opacity-8"><i class="fas fa-arrow-right"></i></span>
                                            </span>
                                        </span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    }
                }
            }

           
        </div>
    </div>
</section>
