﻿@using FusionCore.Modules.FundsManager.Data.Enums
@using System.Linq.Expressions
@using FusionCore.Modules.FundsManager.Data.Entities
@inject FusionCore.Modules.FundsManager.Interfaces.IPageService _pageService
@{
    Expression<Func<Page, bool>> predicate = x => !x.IsAdmin && x.Active;

    var activepages = _pageService.GetAllPages<Page>(predicate);
    var _pk1 = activepages.FirstOrDefault(x => x.Url.ToLower().Trim().Contains("service-pakket-1"));
    var _pk2 = activepages.FirstOrDefault(x => x.Url.ToLower().Trim().Contains("extra-pakket-2"));
    var _pk3 = activepages.FirstOrDefault(x => x.Url.ToLower().Trim().Contains("pro-pakket-3"));
}
<!-- Pack -->
@{
    if (_pk1 != null)
    {


        <div class="modal fade" id="pakket1" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header bg-primary border-radius-0 no-borders">
                        <h4 class="modal-title text-color-light">@_pk1.Header</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        @Html.Raw(_pk1.Content)
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-dismiss="modal">Terug</button>
                    </div>
                </div>
            </div>
        </div>
    }

    if (_pk2 != null)
    {
        <div class="modal fade" id="pakket2" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header bg-primary border-radius-0 no-borders">
                        <h4 class="modal-title text-color-light">@_pk2.Header</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        @Html.Raw(_pk2.Content)
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-dismiss="modal">Terug</button>
                    </div>
                </div>
            </div>
        </div>
    }

    if (_pk3 != null)
    {
        <div class="modal fade" id="pakket3" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header bg-primary border-radius-0 no-borders">
                        <h4 class="modal-title text-color-light" id="formModalLabel">@_pk3.Header</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                      @Html.Raw(_pk3.Content)
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-dismiss="modal">Terug</button>
                    </div>
                </div>
            </div>
        </div>
    }
}