﻿<!-- Testdrive -->
<div class="modal fade" id="testDrive" tabindex="-1" role="dialog" aria-labelledby="testDriveLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary border-radius-0 no-borders">
                <h4 class="modal-title text-color-light" id="formModalLabel">Proefrit aanvraag</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
            </div>
            <div id="testdrivesuccessmsg">
                <div class="modal-body">
                    <p><em>Bedankt voor je proefrit aanvraag, wij laten zo snel mogelijk weten of wij de proefrit definitief in kunnen plannen</em></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Terug</button>
                </div>
            </div>
            <form id="testdriveform" class="mb-4" autocomplete="on">

                <div class="modal-body">
                    <p>
                        U staat op het punt een proefrit aan te vragen voor de volgende auto<br />
                        <span style="font-size: 20px;"><strong id="testdrivecarname"></strong></span>
                    </p>
                    <p>
                        <em>Vul onderstaande gegevens in en wij nemen contact op voor het definitief* inplannen van de proefrit afspraak</em><br />
                        <span style="font-size: 11px;">* Mogelijk is de auto inmiddels niet meer beschikbaar, ook dan nemen wij contact met u op.</span>
                    </p>

                    <input type="hidden" id="hiddentestdrivecarname" name="hiddentestdrivecarname" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group align-items-center">
                                <select id="voorkeursdag" name="voorkeursdag" class="form-control" required>
                                    <option value="">Selecteer een voorkeursdag</option>
                                    <option value="Maandag">Maandag</option>
                                    <option value="Dinsdag">Dinsdag</option>
                                    <option value="Woensdag">Woensdag</option>
                                    <option value="Donderdag">Donderdag</option>
                                    <option value="Vrijdag">Vrijdag</option>
                                    <option value="Zaterdag">Zaterdag</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group align-items-center">
                                <select id="dagdeel" name="dagdeel" class="form-control" required>
                                    <option value="">Seleteer een dagdeel</option>
                                    <option value="Ochtend">Ochtend</option>
                                    <option value="Middag">Middag</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group align-items-center">
                        <input type="text" name="name" class="form-control" placeholder="Naam" required />
                    </div>
                    <div class="form-group align-items-center">
                        <input type="email" name="email" class="form-control" placeholder="E-mailadres" required />
                    </div>
                    <div class="form-group align-items-center">
                        <input type="tel" name="tel" class="form-control" placeholder="Telefoon" required />
                    </div>
                    <div class="form-group">
                        <textarea rows="5" name="bericht" class="form-control" placeholder="Typ hier je bericht..." required></textarea>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Terug</button>
                    <input type="submit" class="btn btn-primary" value="Proefrit aanvragen" />
                </div>
            </form>
        </div>
    </div>
</div>
