﻿@using FusionCore.Modules.FundsManager.Models;
@model PaginaViewModel
@{ 
    var pageheader = "";
    var pagecontent = "";
    if (Model != null)
    {
        if (Model.Page != null)
        {
            pageheader = Model.Page.Header;
        }
        if (Model.Page != null)
        {
            pagecontent = Model.Page.Content;
        }
    }
}
<section class="page-header page-header-modern page-header-md no-margin-bottom">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 breadcrumb_correct">
                <ul class="breadcrumb d-block text-center appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="300">
                    <li><a href="/">Homepage</a></li>
                    <li class="active">Pagina</li>
                </ul>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-md-12 align-self-center p-static order-2 text-center">
                        <div class="overflow-hidden pb-2">
                            <h1 class="text-light font-weight-bold text-9 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="100">@pageheader</h1>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<div class="container py-4">
    <div class="row pt-4 mt-2 mb-5">
        <div class="col-md-12 mb-4 mb-md-0">

            @*<div class="overflow-hidden mb-2">
                <h2 class="text-color-dark font-weight-normal text-5 mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="800">Algemene <strong class="font-weight-extra-bold">Informatie</strong></h2>
            </div>*@

            <div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1200">
                <div>
                    @Html.Raw(pagecontent)
                </div>
                
            </div>

            <hr class="solid my-5">

            <strong class="text-uppercase text-1 mr-3 text-dark float-left position-relative top-2">Share</strong>
            <ul class="social-icons">
                <li class="social-icons-facebook"><a data-tooltip="true" data-title="facebook" onclick='window.open("@ViewBag.facebookurl","facebook-share-dialog" ,"toolbar=0,status=0,width=626,height=436");' title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                <li class="social-icons-twitter"><a data-tooltip="true" data-title="twitter" onclick="window.open('@ViewBag.twitterurl','' ,'width=626,height=436');" data-lang="en" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                <li class="social-icons-linkedin"><a data-tooltip="true" data-title="linkedin" onclick='window.open("@ViewBag.linkedinurl","Share on LinkedIn" ,"width=626,height=436");' title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>

        </div>
    </div>

</div>



@section MoreOccasions
{

    @{
        if (Model != null)
        {
            await Html.RenderPartialAsync("_MoreOccasions", Model.MoreOccasions);
        }
    }

}