﻿@model OccassionsViewModel

@{
    if (Model.OccasionsDetail != null && Model.OccasionsDetail.Voertuig != null)
    {
        <section class="page-header page-header-modern page-header-md no-margin-bottom">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-12 breadcrumb_correct">
                        <ul class="breadcrumb d-block text-center appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="300">
                            <li><a href="/">Homepage</a></li>
                            <li><a href="/occasions">Occasions</a></li>
                            <li class="active">@Model.OccasionsDetail.Voertuig.Titel</li>
                        </ul>
                    </div>
                    @{
                        var showprev = "visibility:visible";
                        if (!Model.ShowPrev)
                        { showprev = "visibility:hidden"; }
                    }
                    <div class="col">
                        <a href="@Model.PrevUrl" class="portfolio-prev text-decoration-none d-block appear-animation" data-appear-animation="fadeInRightShorter" style="@showprev">
                            <div class="d-flex align-items-center line-height-1">
                                <i class="fas fa-arrow-left text-light text-4 mr-3"></i>
                                <div class="d-none d-sm-block line-height-1">
                                    <span class="text-light opacity-4 text-1">VORIGE OCCASION</span>
                                    <h4 class="text-white font-weight-bold text-3 mb-0">@Model.PrevTitle</h4>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col">
                        <div class="row">
                            <div class="col-md-12 align-self-center p-static order-2 text-center">
                                <div class="overflow-hidden pb-2">
                                    <h1 class="text-light font-weight-bold text-9 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="100">
                                        @Model.OccasionsDetail.Voertuig.Titel
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    @{
                        var shownext = "visibility:visible";
                        if (!Model.ShowNext)
                        { shownext = "visibility:hidden"; }
                    }
                    <div class="col">
                        <a href="@Model.NextUrl" class="portfolio-next text-decoration-none d-block float-right appear-animation" data-appear-animation="fadeInLeftShorter" style="@shownext">
                            <div class="d-flex align-items-center text-right line-height-1">
                                <div class="d-none d-sm-block line-height-1">
                                    <span class="text-light opacity-4 text-1">VOLGENDE OCCASION</span>
                                    <h4 class="text-white font-weight-bold text-3 mb-0">@Model.NextTitle</h4>
                                </div>
                                <i class="fas fa-arrow-right text-light text-4 ml-3"></i>
                            </div>
                        </a>
                    </div>


                </div>
            </div>
        </section>

        <div id="revolutionSliderCarouselContainer" class="rev_slider_wrapper fullwidthbanner-container mb-4 no-margin-bottom" data-alias="" style="background: #f3f3f2; height: 500px;">
            <div id="revolutionSliderCarousel" class="rev_slider fullwidthabanner" data-version="5.4.8">
                <ul>
                    @{
                        if (Model.OccasionsDetail.Voertuig.Afbeeldingen != null && Model.OccasionsDetail.Voertuig.Afbeeldingen.Afbeelding != null)
                        {
                            foreach (var photos in Model.OccasionsDetail.Voertuig.Afbeeldingen.Afbeelding.OrderBy(x => x.Nr_nr).ToList())
                            {
                                <li data-index="rs-@photos.Nr" data-transition="fade" data-slotamount="@Model.OccasionsDetail.Voertuig.Aantal_afbeeldingen" data-easein="default" data-easeout="default" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-title="" data-description="">
                                    <img src="@photos.Bestandsnaam" alt="@photos.Bestandsnaam" data-bgposition="center center" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                </li>
                            }
                        }
                    }

                </ul>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row featured-boxes-full featured-boxes-full-scale">
                <!--
                <div class="col-lg-3 featured-box-full featured-box-full-primary">
                    <i class="fa fa-calendar-check"></i>
                    <h4 class="font-weight-normal text-5">Snelle <strong class="font-weight-extra-bold">APK</strong></h4>
                    <p class="mb-0">Wilt u een APK keuring inplannen, dit kunt u zelf doen via onze klanten agenda of u kunt contact opnemen.</p>
                    <p class="mb-0"><a href="pagina.html"><button type="button" class="btn btn-dark mb-2">Naar onze agenda</button></a></p>
                </div>
                -->
                <div class="col-lg-6 featured-box-full featured-box-full-primary" style="padding: 15px;">
                    <i class="fa fa-car-side"></i>
                    <h4 class="font-weight-normal text-5">Basis <strong class="font-weight-extra-bold"> Pakket</strong></h4>
                    <p class="mb-0">Kies voor het Basis Pakket</p>
                    <p class="mb-0"><a href="#" data-toggle="modal" data-target="#pakket1"><button type="button" class="btn btn-dark mb-2">bekijk het Basis pakket</button></a></p>
                </div>
                @*<div class="col-lg-4 featured-box-full featured-box-full-primary" style="padding: 15px;">
                        <i class="fa fa-car-side"></i>
                        <h4 class="font-weight-normal text-5">Extra <strong class="font-weight-extra-bold">pakket 2</strong></h4>
                        <p class="mb-0">Kies voor het Extra oplever pakket</p>
                        <p class="mb-0"><a href="#" data-toggle="modal" data-target="#pakket2"><button type="button" class="btn btn-dark mb-2">bekijk het Extra pakket</button></a></p>
                    </div>*@
                <div class="col-lg-6 featured-box-full featured-box-full-primary" style="padding: 15px;">
                    <i class="fa fa-car-side"></i>
                    <h4 class="font-weight-normal text-5">BOVAG <strong class="font-weight-extra-bold"> all in pakket</strong></h4>
                    <p class="mb-0">Kies voor het BOVAG all in pakket</p>
                    <p class="mb-0"><a href="#" data-toggle="modal" data-target="#pakket3"><button type="button" class="btn btn-dark mb-2">bekijk het BOVAG all in pakket</button></a></p>
                </div>
            </div>
        </div>

        <div class="container py-4">
            @{
                var occasiondetail = Model.OccasionsDetail.Voertuig;
            }
            <div class="row pt-4 mt-2 mb-5">
                <div class="col-md-7 mb-4 mb-md-0">

                    <div class="overflow-hidden mb-2">
                        <h2 class="text-color-dark font-weight-normal text-5 mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="800">Algemene <strong class="font-weight-extra-bold">Informatie</strong></h2>
                    </div>

                    <p class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1000">@occasiondetail.Titel</p>

                    <p class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1200">
                        @Html.Raw(occasiondetail.Opmerkingen)
                    </p>

                    <hr class="solid my-5">

                    <strong class="text-uppercase text-1 mr-3 text-dark float-left position-relative top-2">Share</strong>
                    <ul class="social-icons">
                        <li class="social-icons-facebook"><a data-tooltip="true" data-title="facebook" onclick='window.open("@ViewBag.facebookurl","facebook-share-dialog" ,"toolbar=0,status=0,width=626,height=436");' title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="social-icons-twitter"><a data-tooltip="true" data-title="twitter" onclick="window.open('@ViewBag.twitterurl','' ,'width=626,height=436');" data-lang="en" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                        <li class="social-icons-linkedin"><a data-tooltip="true" data-title="linkedin" onclick='window.open("@ViewBag.linkedinurl","Share on LinkedIn" ,"width=626,height=436");' title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                    </ul>

                </div>
                <div class="col-md-5 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="1400">
                    <div class="row"><div class="col-md-12"><a href="#" data-toggle="modal" data-target="#testDrive" data-cartitle="@Model.OccasionsDetail.Voertuig.Titel"><button type="button" class="btn btn-dark mb-2" style="width: 100%; padding: 15px;">Vraag een proefrit aan</button></a></div></div>
                    <h2 class="text-color-dark font-weight-normal text-5 mb-2">Occasion <strong class="font-weight-extra-bold">Details</strong></h2>

                    <div class="toggle toggle-primary toggle-simple" data-plugin-toggle data-plugin-options="{ 'isAccordion': true }">
                        <section class="toggle active">
                            <label>Informatie</label>
                            <div class="toggle-content">
                                <table class="table table-bordered  table-sm">
                                    <tbody>
                                        <tr style="background: #212529;">
                                            <td style="font-size: 24px; color:#ffffff; padding: 10px;"><strong>Prijs</strong></td>
                                            <td style="font-size: 24px; color:#ffffff; padding: 10px;">€  @occasiondetail.Verkoopprijs_particulier.Text</td>
                                        </tr>
                                        @*<tr>
                                                <td><strong>Garantie prijs</strong></td>
                                                <td>€  </td>
                                            </tr>*@
                                        @*<tr>
                                                <td><strong>Rijklaarmaak kosten</strong></td>
                                                <td>€ ,-</td>
                                            </tr>*@
                                        <tr>
                                            <td><strong>Wegenbelasting</strong></td>
                                            @{
                                                decimal Wegenbelasting = 0;
                                                if (occasiondetail.Wegenbelasting_kwartaal != null && FusionCore.Core.Helpers.StringHelpers.IsDecimal(occasiondetail.Wegenbelasting_kwartaal.Min))
                                                {
                                                    string quarter_min = occasiondetail.Wegenbelasting_kwartaal.Min;
                                                    decimal numerator = Convert.ToDecimal(quarter_min, System.Globalization.CultureInfo.InvariantCulture);
                                                    decimal denominator = 3;
                                                    decimal res = numerator / denominator;
                                                    Wegenbelasting = Math.Round(res, 2);
                                                }
                                            }
                                            <td>€ @Wegenbelasting,-/ mnd</td>

                                        </tr>
                                        <tr>
                                            <td><strong>Kenteken</strong></td>
                                            <td>@occasiondetail.Kenteken</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Bouwjaar</strong></td>
                                            <td>@occasiondetail.Bouwjaar</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Kilometerstand</strong></td>
                                            <td>@occasiondetail.Tellerstand.Text km</td>
                                        </tr>
                                        <tr>
                                            <td><strong>APK</strong></td>
                                            <td>@occasiondetail.Apk.Tot</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Gewicht</strong></td>
                                            <td>@occasiondetail.Massa kg</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Kleur</strong></td>
                                            <td>@occasiondetail.Basiskleur</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Laksoort</strong></td>
                                            <td>@occasiondetail.Laksoort</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Cilinderinhoudt</strong></td>
                                            <td>@occasiondetail.Cilinder_inhoud cc</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Aantal zitplaatsen</strong></td>
                                            <td>@occasiondetail.Aantal_zitplaatsen</td>
                                        </tr>
                                        @{
                                            var Brandstof = "";
                                            var Carrosserievorm = "";
                                            if (occasiondetail.Autotelex != null)
                                            {
                                                Brandstof = occasiondetail.Autotelex.Brandstof;
                                                Carrosserievorm = occasiondetail.Autotelex.Koetswerk;
                                            }
                                        }
                                        <tr>
                                            <td><strong>Brandstof</strong></td>

                                            <td>@Brandstof</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Carrosserievorm</strong></td>
                                            <td>@Carrosserievorm</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Transmissie</strong></td>
                                            <td>@occasiondetail.Transmissie</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Aantal deuren</strong></td>
                                            <td>@occasiondetail.Aantal_deuren</td>
                                        </tr>
                                        @*<tr>
                                                <td><strong>Garantie</strong></td>
                                                <td>@occasiondetail.Bovag_garantie</td>
                                            </tr>*@
                                        <tr>
                                            <td><strong>Energielabel</strong></td>
                                            <td>@occasiondetail.Energielabel</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Verbruik</strong></td>
                                            <td>@occasiondetail.Gemiddeld_verbruik</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </section>
                        <section class="toggle">
                            <label>Opties</label>
                            <div class="toggle-content">
                                <ul class="car_options">
                                    @{
                                        if (occasiondetail.Accessoires != null && occasiondetail.Accessoires.Accessoire != null)
                                        {
                                            foreach (var acc in occasiondetail.Accessoires.Accessoire)
                                            {
                                                <li>@acc.Naam</li>
                                            }
                                        }
                                    }
                                </ul>
                            </div>
                        </section>
                    </div>

                </div>
            </div>

        </div>
    }

}



@section MoreOccasions
{

    @{
        if (Model != null)
        {
            await Html.RenderPartialAsync("_MoreOccasions", Model.MoreOccasions);
        }
    }

}
