﻿@model OccassionsViewModel

<section class="page-header page-header-modern page-header-md">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 breadcrumb_correct">
                <ul class="breadcrumb d-block text-center appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="300">
                    <li><a href="/">Homepage</a></li>
                    <li class="active">Occasions</li>
                </ul>
            </div>
            <div class="col">
                <a id="portfolioPaginationHeaderPrev" href="#" class="portfolio-prev text-decoration-none d-block appear-animation" data-appear-animation="fadeInRightShorter">
                    <div class="d-flex align-items-center line-height-1">
                        <i class="fas fa-arrow-left text-light text-4 mr-3"></i>
                        <div class="d-none d-sm-block line-height-1">
                            <span class="text-light opacity-4 text-1">VORIGE PAGINA</span>
                            <h4 class="text-white font-weight-bold text-3 mb-0" id="portfolioPaginationHeaderPrevPage">1</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-md-12 align-self-center p-static order-2 text-center">
                        <div class="overflow-hidden pb-2">
                            <h1 class="text-light font-weight-bold text-9 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="100">Occasions</h1>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <a id="portfolioPaginationHeaderNext" href="#" class="portfolio-next text-decoration-none d-block float-right appear-animation" data-appear-animation="fadeInLeftShorter">
                    <div class="d-flex align-items-center text-right line-height-1">
                        <div class="d-none d-sm-block line-height-1">
                            <span class="text-light opacity-4 text-1">VOLGENDE PAGINA</span>
                            <h4 class="text-white font-weight-bold text-3 mb-0" id="portfolioPaginationHeaderNextPage">3</h4>
                        </div>
                        <i class="fas fa-arrow-right text-light text-4 ml-3"></i>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>


<div class="container py-2">
    <div class="row">
        <div class="col-lg-9">
            <div class="sort-destination-loader sort-destination-loader-showing mt-3 pt-2">
                <div id="portfolioPaginationWrapper" class="row portfolio-list sort-destination" data-sort-id="portfolio" data-items-per-page="6">
                    @{
                        foreach (var occ in Model.Occasions)
                        {
                            var image = occ?.Voertuig?.Afbeeldingen?.Afbeelding.OrderBy(x => x.Nr_nr).FirstOrDefault()?.Bestandsnaam;
                            var title = occ?.Voertuig?.Titel;
                            var constructionyear = occ?.Voertuig?.Bouwjaar;
                            var price = occ?.Voertuig?.Verkoopprijs_particulier?.Text;
                            var km = occ?.Voertuig?.Tellerstand.Text;
                            var title_url = occ?.Voertuig?.Titel_url;
                            var filename = occ?.FileName;
                            var vehicleno = occ?.Voertuig?.Voertuignr;
                            var brand = occ?.Voertuig?.Merk;
                            var transmision = occ?.Voertuig?.Transmissie;

                            <div class="col-sm-6 col-lg-6 isotope-item @constructionyear @brand @transmision">
                                <div class="portfolio-item">
                                    <a href="/occasions/@title_url/@filename/@vehicleno">
                                        <span class="thumb-info thumb-info-lighten thumb-info-no-borders border-radius-0">
                                            <span class="thumb-info-wrapper border-radius-0">
                                                <img src="@image" class="img-fluid border-radius-0" alt="@title">
                                                <span class="thumb-info-title">
                                                    <span class="thumb-info-inner text-short w-50">@title</span>
                                                    <span class="thumb-info-type">@constructionyear</span>
                                                    <span class="thumb-info-type">€ @price,-</span>
                                                    <span class="thumb-info-type">@km km</span>
                                                </span>
                                                <span class="thumb-info-action">
                                                    <span class="thumb-info-action-icon bg-dark opacity-8"><i class="fas fa-arrow-right"></i></span>
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        }
                    }


                </div>
                <div class="row">
                    <div class="col">
                        <div id="portfolioPagination" class="float-right"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <aside class="sidebar">
                <h5 class="font-weight-bold">Maar een <strong>Selectie</strong></h5>

                <ul id="portfolioPaginationFilter" class="nav nav-list flex-column sort-source mb-5" data-sort-id="portfolio" data-option-key="filter" data-plugin-options="{'layoutMode': 'fitRows', 'filter': '*'}">
                    <li class="nav-item" data-option-value="*">

                        <a class="nav-link active" href="#">Alle Occasions</a>

                    </li>
                    <li>
                        <div class="row">
                            <div class="toggle toggle-primary toggle-simple" data-plugin-toggle data-plugin-options="{ 'isAccordion': true }">
                                <section class="toggle">
                                    <label>
                                        <strong> Selecteer op Bouwjaar</strong>
                                    </label>
                                    <div class="toggle-content">
                                        <ul>
                                            @{

                                                foreach (BouwjaarViewModel jaar in ViewBag.Bouwjaren)
                                                {
                                                    <li class="nav-item" data-option-value=".@jaar.Jaar"><a class="nav-link" href="#">@jaar.Jaar</a></li>

                                                }

                                            }
                                        </ul>
                                    </div>
                                </section>
                                <section class="toggle">
                                    <label>
                                        <strong>Selecteer op Merk</strong>
                                    </label>
                                    <div class="toggle-content">
                                        <ul>
                                            @{

                                                foreach (BrandViewModel b in ViewBag.Brands)
                                                {
                                                    <li class="nav-item" data-option-value=".@b.BrandName"><a class="nav-link" href="#">@b.BrandName</a></li>

                                                }

                                            }
                                        </ul>
                                    </div>
                                </section>
                                <section class="toggle">
                                    <label>
                                        <strong>Selecteer op Transmissie</strong>
                                    </label>
                                    <div class="toggle-content">
                                        <ul>
                                            <li class="nav-item" data-option-value=".H"><a class="nav-link" href="#">H</a></li>
                                            <li class="nav-item" data-option-value=".A"><a class="nav-link" href="#">A</a></li>
                                        </ul>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </li>
                </ul>

            </aside>
        </div>
    </div>
</div>


@section MoreOccasions
{

    @{
        if (Model != null)
        {
            await Html.RenderPartialAsync("_MoreOccasions", Model.MoreOccasions);
        }
    }

}