﻿@using Microsoft.Extensions.Configuration
@model ExchangeFormViewModel
@inject IConfiguration recaptcha
@using FusionCore.Services.Common
@using AutoMapper
@using FusionCore.Data.Settings
@using FusionCore.Models.Backend.Settings
@inject ISettingService _settingService
@inject IMapper  _mapper
@{
    WebsiteSettings dbSetting = _settingService.LoadSetting<WebsiteSettings>();
    WebsiteSettingsModel websitesettingsmodel = _mapper.Map<WebsiteSettingsModel>(dbSetting);
}
<section class="page-header page-header-modern page-header-md no-margin-bottom">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 breadcrumb_correct">
                <ul class="breadcrumb d-block text-center appear-animation animated fadeIn appear-animation-visible" data-appear-animation="fadeIn" data-appear-animation-delay="300" style="animation-delay: 300ms;">
                    <li><a href="/">Homepage</a></li>
                    <li class="active">Inruilformulier</li>
                </ul>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-md-12 align-self-center p-static order-2 text-center">
                        <div class="overflow-hidden pb-2">
                            <h1 class="text-light font-weight-bold text-9 appear-animation animated maskUp appear-animation-visible" data-appear-animation="maskUp" data-appear-animation-delay="100" style="animation-delay: 100ms;">Inruilformulier</h1>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<div class="container py-4">

    <div class="row">
        <div class="col-lg-9">

            <div class="overflow-hidden mb-2">
                <h2 class="text-color-dark font-weight-normal text-5 mb-0 appear-animation animated maskUp appear-animation-visible" data-appear-animation="maskUp" data-appear-animation-delay="800" style="animation-delay: 800ms;">Inruil <strong class="font-weight-extra-bold">formulier</strong></h2>
            </div>

            <p class="appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1200" style="animation-delay: 1200ms;">
            </p>
            @{
                if (ViewBag.formsent == "success")
                {
                    <div>
                        <h4>
                            Bedankt voor het versturen van ons formulier, wij nemen indien nodig zo snel mogelijk contact met je op.
                        </h4>
                    </div>
                }
            }
            <form id="exchangeform" method="post" asp-action="Index" enctype="multipart/form-data">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="required font-weight-bold text-dark text-2">Naam</label>
                        <input type="text" data-msg-required="Type hier je voornaam" maxlength="100" class="form-control" asp-for="name" required="">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="required font-weight-bold text-dark text-2">Achternaam</label>
                        <input type="text" data-msg-required="Type hier je achternaam" maxlength="100" class="form-control" asp-for="lastname" required="">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="required font-weight-bold text-dark text-2">Telefoonnummer</label>
                        <input type="text" data-msg-required="Type hier je telefoonnummer" maxlength="100" class="form-control" asp-for="telephone" required="">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="required font-weight-bold text-dark text-2">Email Address</label>
                        <input type="email" data-msg-required="Type hier je emailadres" data-msg-email="Vul een correct emailadres in" maxlength="100" class="form-control" asp-for="email" required="">
                    </div>
                </div>

                <hr class="solid my-5">

                <h4>Auto informatie</h4>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label class="font-weight-bold text-dark text-2">In welke auto ben je geinterreseerd</label>
                        <select data-msg-required="Please enter the subject." class="form-control" asp-for="interestedcar">
                            <option value="Geen interesse">Geen interesse</option>
                            @{
                                foreach (var op in Model.autotelex)
                                {

                                    <option value="@op">@op</option>
                                }
                            }

                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="required font-weight-bold text-dark text-2">Merknaam</label>
                        <input type="text" data-msg-required="Type hier de merknaam" maxlength="100" class="form-control" asp-for="brandname" required="">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="required font-weight-bold text-dark text-2">Model</label>
                        <input type="text" data-msg-required="Type hier het bouwjaar" maxlength="100" class="form-control" asp-for="modelname" required="">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="required font-weight-bold text-dark text-2">Kentekennummer</label>
                        <input type="text" data-msg-required="Type hier de merknaam" maxlength="100" class="form-control" asp-for="licenseplate" required="">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="required font-weight-bold text-dark text-2">Kilometerstand</label>
                        <input type="text" data-msg-required="Type hier het bouwjaar" maxlength="100" class="form-control" asp-for="mileage" required="">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label class="font-weight-bold text-dark text-2">Foto's van de auto die je wilt inruilen</label>
                        <input class="d-block" type="file" asp-for="carphoto">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12 mb-4">
                        <label class="required font-weight-bold text-dark text-2">Bijzonderheden / beschadigingen</label>
                        <textarea maxlength="5000" data-msg-required="Type hier je bericht" rows="6" class="form-control" asp-for="damage" required=""></textarea>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12 mb-4">
                        <label class="required font-weight-bold text-dark text-2">Bericht en waarde indicatie</label>
                        <textarea maxlength="5000" data-msg-required="Type hier je bericht" rows="6" class="form-control" asp-for="message" required=""></textarea>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12 mb-4">
                        <div class="form-input clearfix captcha-div-lft" style="display:inline-block;padding-bottom:0px;padding-left: 0px;">

                            @{
                                var publickey = recaptcha.GetSection("Recaptcha").Get<Recaptcha>().recaptchaPublickey;
                            }
                            <div id="exchangeform_captcha_container" class="g-recaptcha" data-type="image" data-size="normal" data-theme="light" data-sitekey="@publickey"></div>

                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12 mb-4">
                        <button type="submit" class="btn btn-primary">Versturen</button>
                    </div>
                </div>
                <p></p>
            </form>

            <hr class="solid my-5">
            <strong class="text-uppercase text-1 mr-3 text-dark float-left position-relative top-2">Share</strong>
            <ul class="social-icons">
                <li class="social-icons-facebook"><a href="@websitesettingsmodel.FacebookCode" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                <li class="social-icons-twitter"><a href="@websitesettingsmodel.TwitterCode" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                <li class="social-icons-linkedin"><a href="@websitesettingsmodel.LinkedInCode" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>

        </div>

        <div class="col-lg-3 mt-4 mt-lg-0">
            <aside class="sidebar">
                <h2 class="text-color-dark font-weight-normal text-5 mb-0 appear-animation animated maskUp appear-animation-visible" data-appear-animation="maskUp" data-appear-animation-delay="800" style="animation-delay: 800ms;">Hoe <strong class="font-weight-extra-bold">werkt inruilen</strong></h2>
                <p>Vul het formulier in en stuur foto's van je in te ruilen auto mee zodat wij zo goed mogelijk kunnen inschatten wat we voor je kunnen betekenen, wij nemen contact met je op over de mogelijkheiden en bekijken wat wij kunnen doen als er een auto is aangegeven waarin je bent geïnteresseerd.</p>
                <h5 class="font-weight-bold pt-4">Contactinformatie</h5>
                <p>
                    <strong>Autobedrijf Kooij</strong><br>
                    Rijksstraatweg 32 F<br>
                    3545 NA / de Meern (Utrecht)<br>
                </p><h2><strong>030 66 212 31</strong></h2>
                <p></p>
            </aside>
        </div>
    </div>

</div>

@section Scripts{

    <script>
        var loadCaptcha = function () {
            return grecaptcha.render(document.getElementById("exchangeform_captcha_container"), {
                'sitekey': document.getElementById("exchangeform_captcha_container").getAttribute("data-sitekey"),
                'callback': function (response) {
                    //console.log(response);
                }
            });
        };
        window.onload = (function () {
            loadCaptcha();

        });

    </script>
}