﻿
@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}
@await Component.InvokeAsync("BannerSlider")

<div class="container-fluid">
    <div class="row featured-boxes-full featured-boxes-full-scale">
        <div class="col-lg-3 featured-box-full featured-box-full-primary" style="padding: 15px;">
            <i class="fa fa-calendar-check"></i>
            <h4 class="font-weight-normal text-5">Snelle <strong class="font-weight-extra-bold">APK</strong></h4>
            <p class="mb-0">Wilt u een APK keuring inplannen, dit kunt u zelf doen via onze klanten agenda of u kunt contact opnemen.</p>
            <p class="mb-0"><a href="#largeModal" data-toggle="modal" data-target="#formAPK"><button type="button" class="btn btn-dark mb-2">Plan een afspraak</button></a></p>
        </div>
        <div class="col-lg-3 featured-box-full featured-box-full-primary" style="padding: 15px;">
            <i class="fa fa-wrench"></i>
            <h4 class="font-weight-normal text-5">Pro <strong class="font-weight-extra-bold">Onderhoud</strong></h4>
            <p class="mb-0">Veiligheid staat voor alles, laat ons uw auto goed onderhouden zodat u veilig kunt rijden zonder problemen.</p>
            <p class="mb-0"><a href="/onderhoud"><button type="button" class="btn btn-dark mb-2">Naar onderhoud</button></a></p>
        </div>
        <div class="col-lg-3 featured-box-full featured-box-full-primary" style="padding: 15px;">
            <i class="fa fa-sync-alt"></i>
            <h4 class="font-weight-normal text-5">Uw <strong class="font-weight-extra-bold">auto inruilen</strong></h4>
            <p class="mb-0">Laat ons weten wat voor auto u wilt inruilen, dan kunnen wij samen kijken naar de mogelijkheden</p>
            <p class="mb-0"><a href="/inruilformulier"><button type="button" class="btn btn-dark mb-2">Naar het inruilformulier</button></a></p>
        </div>
        <div class="col-lg-3 featured-box-full featured-box-full-primary" style="padding: 15px;">
            <i class="fa fa-info-circle"></i>
            <h4 class="font-weight-normal text-5">Heeft <strong class="font-weight-extra-bold">u vragen?</strong></h4>
            <p class="mb-0">Voor vragen kunt u natuurlijk altijd contact opnemen door te bellen via: <strong>0306621231</strong> of stuur ons een email</p>
            <p class="mb-0"><a href="#largeModal" data-toggle="modal" data-target="#formModal"><button type="button" class="btn btn-dark mb-2">Email formulier</button></a></p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row py-4 my-4">
        @if (Model != null && Model.occasions != null)
        {
        <div class="col-md-12 order-2 order-md-1 text-center text-md-left appear-animation mt-2 pt-1" data-appear-animation="fadeIn">
            <h4>Laatste Occasions</h4>
            @*<div class="owl-carousel owl-theme nav-style-1 mb-0" data-plugin-options="{'responsive': {'576': {'items': 1}, '768': {'items': 1}, '992': {'items': 4}, '1200': {'items': 4}}, 'margin': 25, 'loop': true, 'nav': true, 'dots': false, 'autoplay': true, 'autoplayTimeout': 5000}">*@

            <div class="row">
                @{
                    foreach (var occ in Model.occasions.Take(4))
                    {

                        var image = occ?.Voertuig?.Afbeeldingen?.Afbeelding.OrderBy(x => x.Nr_nr).FirstOrDefault()?.Bestandsnaam;
                        var title = occ?.Voertuig?.Titel;
                        var constructionyear = occ?.Voertuig?.Bouwjaar;
                        var title_url = occ?.Voertuig?.Titel_url;
                        var filename = occ?.FileName;
                        var vehicleno = occ?.Voertuig?.Voertuignr;
                        <div class="col-12 col-sm-6 col-lg-3 mb-4">
                            <div class="portfolio-item">
                                <a href="/occasions/@title_url/@filename/@vehicleno">
                                    <span class="thumb-info thumb-info-lighten thumb-info-no-borders border-radius-0">
                                        <span class="thumb-info-wrapper border-radius-0">
                                            <img src="@image" class="img-fluid border-radius-0" alt="@title">
                                            <span class="thumb-info-title">
                                                <span class="thumb-info-inner text-short w-50">@title</span>
                                                <span class="thumb-info-type">@constructionyear</span>
                                            </span>
                                            <span class="thumb-info-action">
                                                <span class="thumb-info-action-icon bg-dark opacity-8"><i class="fas fa-arrow-right"></i></span>
                                            </span>
                                        </span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    }
                }
            </div>

            @*</div>*@
        </div>
        }
    </div>
</div>

<section class="section section-height-3 bg-color-grey-scale-1 m-0 border-0">
    <div class="container">
        @{
            if (Model.WeeklyOccasion != null)
            {
                var title_url = Model.WeeklyOccasion?.Voertuig?.Titel_url;
                var filename = Model.WeeklyOccasion?.FileName;
                var vehicleno = Model.WeeklyOccasion?.Voertuig?.Voertuignr;
                var occurl = "/occasions/" + title_url + "/" + filename + "/" + vehicleno;
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-6 pb-sm-4 pb-lg-0 pr-lg-5 mb-sm-5 mb-lg-0">
                        <h1 class="text-color-dark font-weight-normal text-6 mb-2"><strong>Weekaanbieding</strong></h1>
                        <h2 class="text-color-dark font-weight-normal text-6 mb-2">@Model.WeeklyOccasion.Voertuig.Titel</h2>
                        <p class="lead"></p>
                        <p class="pr-5 mr-5 mb-4">

                            @{
                                var desc = Model.WeeklyOccasion.Voertuig.Opmerkingen;
                                var truncdesc = desc.Length > 300 ? desc.Substring(0, 280) + "..." : desc;
                            }
                            @Html.Raw(truncdesc)
                        </p>
                        <a href="@occurl"><button type="button" class="btn btn-dark mb-2">Bekijk deze auto</button></a>
                    </div>
                    <div class="col-lg-4 pb-sm-4 pb-lg-0 pr-lg-5 mb-sm-5 mb-lg-0">
                        <div class="thumb-gallery">

                            <div class="owl-carousel owl-theme auto thumb-gallery-detail show-nav-hover" id="thumbGalleryDetail">
                                @{
                                    if (Model.WeeklyOccasion.Voertuig.Afbeeldingen != null && Model.WeeklyOccasion.Voertuig.Afbeeldingen.Afbeelding != null)
                                    {
                                        foreach (var photos in Model.WeeklyOccasion.Voertuig.Afbeeldingen.Afbeelding.OrderBy(x => x.Nr_nr).ToList())
                                        {
                                            <div>
                                                <span class="img-thumbnail img-thumbnail-no-borders d-block">
                                                    <a href="@occurl" title=""><img alt="@title_url" src="@photos.Bestandsnaam" class="img-fluid"></a>
                                                </span>
                                            </div>
                                        }
                                    }
                                }


                            </div>
                            <div class="owl-carousel owl-theme manual thumb-gallery-thumbs mt" id="thumbGalleryThumbs">

                                @{
                                    if (Model.WeeklyOccasion.Voertuig.Afbeeldingen != null && Model.WeeklyOccasion.Voertuig.Afbeeldingen.Afbeelding != null)
                                    {
                                        foreach (var photos in Model.WeeklyOccasion.Voertuig.Afbeeldingen.Afbeelding.OrderBy(x => x.Nr_nr).ToList())
                                        {
                                            <div>
                                                <span class="img-thumbnail img-thumbnail-no-borders d-block cur-pointer">
                                                    <a href="#" title=""><img alt="@title_url" src="@photos.Bestandsnaam" class="img-fluid"></a>
                                                </span>
                                            </div>
                                        }
                                    }
                                }

                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>



</section>
